@import url('./login.css');

.encabezado__menu{
  position: absolute;
  top: 42%;
  right: 6%;
  display: flex;
  flex-direction: row;
  gap: 2vw;
  font-size: 1.4vw;
  
}

.item__menu{
  text-decoration: none;
  color: var(--verdeTitulo);
  font-size: 1.6vw;
}

.item__menu:hover{
  font-size: 2vw;
  color: black;
}

.linea__menu{
  width: 0.2vw;
  border: none;
  background-color: black;
}